<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">Welcome in!</h1>

        <p class="fs-4">
            Writer’s Crossing strives to be a robust, safe, and inclusive environment focused on reading and
            writing.</p>

        <p class="fs-4">
            By fostering creativity, good writing habits, providing solid resources and quality activities for
            self-improvement,
            we encourage furries of all skill levels to write.
        </p>

        <p class="fs-4">
            Through free sharing of ideas and critique and our members collective experience and our safe harbor
            approach,
            we advocate for the importance of writing in the furry fandom, where the arts flourish,
            and bring the much underappreciated language arts to a more visible place.
        </p>

        <a href="https://discord.gg/EA75Nxk" class="mt-3 btn btn-primary btn-lg">
            Join our Discord
        </a>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-4 bg-body-tertiary border rounded-3">
            <h2>{{ month }} Leaderboard</h2>

            {{#if monthlyLeaderboardUsers}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>User</th>
                        <th>Word Count</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each monthlyLeaderboardUsers}}
                    <tr>
                        <td>{{ rowNumber }}</td>
                        <td>
                            <img class="avatar-tiny" src="/users/{{ id }}/avatar.png" />
                            <a href="/users/{{ id }}/">{{ name }}</a>
                        </td>
                        <td>{{ formatWc count }} words</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>No users have submitted yet for this month.</p>
            {{/if}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-4 bg-body-tertiary border rounded-3">
            <h2>All Time Leaderboard</h2>

            {{#if allTimeLeaderboardUsers}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>User</th>
                        <th>Word Count</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allTimeLeaderboardUsers}}
                    <tr>
                        <td>{{ rowNumber }}</td>
                        <td>
                            <img class="avatar-tiny" src="/users/{{ id }}/avatar.png" />
                            <a href="/users/{{ id }}/">{{ name }}</a>
                        </td>
                        <td>{{ formatWc count }} words</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>No users have submitted yet this year.</p>
            {{/if}}
        </div>
    </div>
</div>