<div class="h-100 p-4 bg-body-tertiary border rounded-3">
    <h2>{{ title }}</h2>
    
    {{#if marathonLeaderboard }}
    <table class="table px-3">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>User</th>
                <th>Word Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each marathonLeaderboard}}
            <tr>
                <td>{{ rowNumber }}</td>
                <td>
                    <img class="avatar-tiny" src="/users/{{ user_id }}/avatar.png" />
                    <a href="/users/{{ user_id }}/">{{ user_name }}</a>
                </td>
                <td>{{ formatWc count }} words</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>No users submitted to this marathon.</p>
    {{/if}}
</div>