<div class="row align-items-start">
    <div class="col-3">
        <img src="/users/{{ user.id }}/avatar.png" class="mb-3" style="width: 128px; height: 128px;" />

        <h3>{{ user.name }}</h3>
    </div>
    <div class="col">
        <div class="d-flex justify-content-between gap-3">
            <!-- Monthly -->
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{ user.wcMonthly }}</p>
                    <h5 class="card-title">Monthly Word Count</h5>
                </div>
            </div>

            <!-- Yearly -->
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{ user.wcYearly }}</p>
                    <h5 class="card-title">Yearly Word Count</h5>
                </div>
            </div>

            <!-- Total -->
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{ user.wcTotal }}</p>
                    <h5 class="card-title">Total Word Count</h5>
                </div>
            </div>
        </div>
    </div>
</div>